body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-button {
    background-color: #007bff;
    color: #fff;
}

#login-button:hover {
    background-color: #0056b3;
}

#signup-button {
    background-color: #28a745;
    color: #fff;
}

#signup-button:hover {
    background-color: #1a8e39;
}

#cancel-button {
    background-color: #dc3545;
    color: #fff;
}

#cancel-button:hover {
    background-color: #c82333;
}
